name: CI pipline for order-service
on:
  push: 
    branches: [main] 
  pull_request: 
    branches: [main]
jobs:
  CI_job: 
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6.0.2
      - name: initialize the nodejs 
        uses: Drafteame/node-cache-action@v0.3.0
        with:
          node_version: '18' 
      - name:   install dependinces 
        run: npm install
      - name: login to dockerHub
        uses: docker/login-action@v3.7.0
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
     - name: Build and Push docker image 
       uses: docker/build-push-action@v6.19.2 
       with: 
         context: . 
         push: true 
         tags: | 
          yousef2005/order-service:latest
          yousef2005/order-service:${{ github.sha }}
          yousef2005/order-service:1.0.${{ github.run_number }}
           








 
